body {
  background-color: #eac1fb;
  margin: auto;
  width:  640px;
    padding:50px;
  front-family: 'Arial', sans-serif;


.nav-links {    /*Links es el estilo que le estmos dando en el index para que quede aplicado*/
    list-style: none;
    display: flex;
    align-items: center; /*Define la alineación que va a tener cada espacio del 'gap'*/
    gap: 1rem; /*'gap' los espacios que voy a tener y 'rem' es la cantidad de los espacios*/
}

.link a {   /**/
    padding: 0 1rem;
    color: var(--text-dark); /*El color que va a resaltar cuando pase el cursor por encima*/
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}
  
}

image {
  display: block;
  margin: 10 auto;


.nome-cantante {
    font-size: 50px;
    font-family: 'Times New Roman', Times, cursive;
    color: #aa05e6;
  }

}
