body {
  background-color: #eac1fb;
  margin: auto;
  width:  640px;
    padding:50px;
  front-family: 'Arial', sans-serif;
  
}

image {
  display: block;
  margin: 10 auto;


.nome-cantante {
    font-size: 50px;
    font-family: 'Times New Roman', Times, cursive;
    color: #aa05e6;
    text-align: center;
  }
}
